@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #e30b17;
}

html,
body {
  @apply bg-[#FEF8F7] overflow-x-hidden h-full;
}

@font-face {
  font-family: "Cooper";
  src: url("../public/assets/fonts/cooper/cooper.ttf");
}
@font-face {
  font-family: "Frankfurter";
  src: url("../public/assets/fonts/frankfurter/frankfurter.ttf");
}
@font-face {
  font-family: "Zipper";
  src: url("../public/assets/fonts/zipper-std/zipper-std.otf");
}

.font-cooper {
  font-family: "Cooper";
}
.font-frankfurter {
  font-family: "Frankfurter";
}
.font-zipper {
  font-family: "Zipper";
  line-height: 1;
}

.container {
  max-width: 1440px !important;
}


@media (max-width: 1440px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

img {
  @apply select-none;
}

/* Address Section Styles */
.address-title {
  font-family: "Frankfurter";
  font-size: 36px;
  line-height: 28px;
  font-weight: 400;
  color: #e30b17;
  -webkit-text-stroke: 2px #FEF8F7;
  text-stroke: 2px #FEF8F7;
  text-align: center;
}

.address-text {
  font-family: "Frankfurter";
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
  color: #e30b17;
  -webkit-text-stroke: 2px #FEF8F7;
  text-stroke: 2px #FEF8F7;
  text-align: center;
}